<app-content-header title="Sent Emails" icon="fas fa-mail-bulk"></app-content-header>

<div *ngIf="emails | async as emailsAsync;else loading">
  <table class="table table-responsive-md table-bordered mt-5" *ngIf="emailsAsync.length;else noEmails">
    <thead>
      <tr>
        <th class="fit"></th>
        <th>Sent on</th>
        <th>From</th>
        <th>To</th>
        <th>Email</th>
        <th>Subject</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let email of emailsAsync">
        <td *ngIf="(!email.isToShowMessage)" class="fit" title="Show Email Message"><a
            (click)="switchToMessageView(email)"><i class="far fa-envelope text-primary"></i></a>
        </td>
        <td *ngIf="email.isToShowMessage" class="fit" title="Hide Email Message"><a
            (click)="switchToMessageView(email)"><i class="far fa-envelope-open text-primary"></i></a>
        </td>
        <td *ngIf="!email.isToShowMessage">{{email.sentOnString}}</td>
        <td *ngIf="!email.isToShowMessage">{{email.sentBy}}</td>
        <td *ngIf="!email.isToShowMessage"><a href="#"
            [routerLink]="['/customers',email.toCustomerId]">{{email.toCustomerName | titlecase}}</a>
        </td>
        <td *ngIf="!email.isToShowMessage"><a href="#"
            [routerLink]="['/customers',email.toCustomerId,'send-email']">{{email.to}}</a>
        </td>
        <td *ngIf="!email.isToShowMessage">{{email.subject}}</td>
        <td *ngIf="email.isToShowMessage" colspan="5"><u>Email Message:</u><br>{{email.message}}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #noEmails>
    <h2 class="text-info text-center mt-5">There are no emails to show</h2>
  </ng-template>

</div>


<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
