<header>
  <app-navbar></app-navbar>
</header>

<main *ngIf="menuDefinitions && menuDefinitions.menuLocation && menuDefinitions.menuLocation == 'side';else topMenu">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-2">
        <app-menubar [menuItems]="menuItems" [menuDefinitions]="menuDefinitions"></app-menubar>
      </div>
      <div class="col-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>

<ng-template #topMenu>
  <main>
    <div class="px-0">
      <app-menubar [menuItems]="menuItems" [menuDefinitions]="menuDefinitions"></app-menubar>
    </div>
    <div class="px-5">
      <router-outlet></router-outlet>
    </div>
  </main>
</ng-template>


<footer>



</footer>
