<app-content-header title="Customers" icon="fas fa-users"></app-content-header>

<div class="row">
  <div class="col-1"></div>
  <div class="col-2">Future Search</div>
  <div class="col-1"></div>
  <div class="col-2">Future Search</div>
  <div class="col-1"></div>
  <div class="col-2">Future Search</div>
  <div class="col-1"></div>
  <div class="col-2">
    <a routerLink="/customers/add" class="btn btn-primary"><i class="fas fa-user-plus"></i>
      Add New Customer</a>
  </div>
</div>


<!-- <div>
  <table class="table table-bordered mt-5" *ngIf="customers.length; else noCustomers">
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Birhday</th>
        <th>Phones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers; index as i">
        <td>{{i+1}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.email}}</td>
        <td><span *ngIf="customer.birthday; else noBirthday">{{customer.birthday | date:"dd/MM/yyyy"}}</span></td>
        <td>
          <ul *ngIf="customer.phones && customer.phones.length;else noPhones">
            <li *ngFor="let phone of customer.phones">{{phone}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noCustomers>
  <h2 class="text-danger text-center mt-5">There are no customers to show</h2>
</ng-template>

<ng-template #noPhones>
  <span class="text-danger">No phones</span>
</ng-template>

<ng-template #noBirthday>
  <span class="text-danger">Missing birthday</span>
</ng-template> -->
