<app-content-header [title]="'Emails That Were Sent To ' + (customerFullName | titlecase) " icon="far fa-envelop-open">
</app-content-header>

<div *ngIf="emails;else loading">
  <table class="table table-responsive-md table-bordered mt-5" *ngIf="emails.length;else noEmails">
    <thead>
      <tr>
        <th class="fit"></th>
        <th>Sent on</th>
        <th>From</th>
        <th>Subject</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let email of emails">
        <td class="fit" title="View Email"><a href="#" (click)="viewEmail()"><i
              class="far fa-envelope-open text-primary"></i></a>
        </td>
        <td>{{email.sentOnString}}</td>
        <td>{{email.sentBy}}</td>
        <td>{{email.subject}}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #noEmails>
    <h2 class="text-info text-center mt-5">There are no emails to show</h2>
  </ng-template>

</div>


<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
