.flex-column {
  height: 95vh;
}

/* For hamburger menu */

.fa-1x {
  font-size: 1.5rem;
}

.navbar-toggler.toggler-example,
#id_logout {
  cursor: pointer;
}

#id_small-menu {
  position: absolute;
  left: 10px;
  top: 3px;
  z-index: 1000;
  min-width: 200px;
}
